
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
build/
dist/

venv/
.env/
.env.*
.python-version

.ipynb_checkpoints/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.temp

.vscode/
!.vscode/settings.json

endee-data/
docker-data/
