services:
  endee:
    image: endeeio/endee-server:latest
    container_name: endee-server
    ports:
      - "8080:8080"
    environment:
      NDD_NUM_THREADS: 0
      NDD_AUTH_TOKEN: ""   # leave empty = OPEN MODE (no auth)
    volumes:
      - endee-data:/data
    restart: unless-stopped

volumes:
  endee-data:
